/* Estilos para a parte superior (barra de navegação) */
.parte-de-cima {
    background-color: black;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 6px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

/* Estilos para a lista de navegação */
.lista-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Estilos para os links de navegação */
a {
    display: inline-block;
    padding: 12px 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    transition: border-bottom 0.3s ease;
    text-align: center;
}

a:hover {
    border-bottom: 2px solid black;
}

.black-friday {
    color: red;
}

.linha {
    border: 0;
    height: 1px;
    background-color: #adadad8e;
    width: 100%;
    margin: 20px 0;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.menu-container img {
    width: 170px;
    height: auto;
    cursor: pointer;
    margin-right: 0px;
}

/* Estilos do Carrossel */
.carrossel-container {
    position: relative;
    width: 100%; /* Ocupa toda a largura da tela */
    height: 300px; /* Ajuste a altura conforme necessário */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Esconde as imagens fora do container */
}

.carrossel {
    display: flex; /* Exibe as imagens horizontalmente */
    transition: transform 0.5s ease; /* Transição suave entre as imagens */
    width: 100%;
    height: 100%; /* O carrossel precisa ter 3 imagens, então a largura é 300% do container */
}

.carrossel-imagem {
    flex: 0 0 100%; /* Cada imagem ocupa 100% da largura do carrossel */
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrossel-imagem img {
    width: 100%; /* A imagem ocupa toda a largura do carrossel */
    height: 900%; /* A altura da imagem é ajustada para a altura do container */
    object-fit: cover; /* Faz com que a imagem ocupe toda a área sem distorcer */
    display: block;
}

/* Estilos para os indicadores (bolinhas) */
.indicadores {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px; /* Ajuste da posição das bolinhas para aparecerem na parte inferior */
    width: 100%;
}

.bolinha {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px; /* Ajuste a margem lateral entre as bolinhas */
    cursor: pointer;
    transition: background-color 0.3s;
}

.bolinha.ativa {
    background-color: #333; /* Cor quando a bolinha está ativa */
}

.bolinha:hover {
    background-color: #777; /* Efeito hover nas bolinhas */
}
